In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [6]:
df1=pd.read_csv('/content/IPL Ball-by-Ball 2008-2020.csv')
df2=pd.read_csv('/content/IPL Matches 2008-2020.csv')

In [7]:
df1
df2

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,1216547,Dubai,2020-09-28,AB de Villiers,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore,tie,NaN,Y,NaN,Nitin Menon,PR Reiffel
812,1237177,Dubai,2020-11-05,JJ Bumrah,Dubai International Cricket Stadium,0,Mumbai Indians,Delhi Capitals,Delhi Capitals,field,Mumbai Indians,runs,57.0,N,NaN,CB Gaffaney,Nitin Menon
813,1237178,Abu Dhabi,2020-11-06,KS Williamson,Sheikh Zayed Stadium,0,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,6.0,N,NaN,PR Reiffel,S Ravi
814,1237180,Abu Dhabi,2020-11-08,MP Stoinis,Sheikh Zayed Stadium,0,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals,bat,Delhi Capitals,runs,17.0,N,NaN,PR Reiffel,S Ravi
815,1237181,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon

In [8]:
# Merge the two datasets on the 'id' column
merged_df = pd.merge(df1, df2, on='id')
merged_df

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,...,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,...,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,...,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
2,335982,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,...,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
3,335982,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,...,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
4,335982,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,...,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193463,1237181,1,12,5,RR Pant,SS Iyer,NM Coulter-Nile,0,0,0,...,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon
193464,1237181,1,12,6,RR Pant,SS Iyer,NM Coulter-Nile,1,0,1,...,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon
193465,1237181,1,13,1,RR Pant,SS Iyer,KH Pandya,0,1,1,...,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon
193466,1237181,1,13,2,RR Pant,SS Iyer,KH Pandya,1,0,1,...,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon
193467,1237181,1,13,3,SS Iyer,RR Pant,KH Pandya,1,0,1,...,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon

In [9]:
# Save the merged dataset to a new CSV file
merged_df.to_csv('Merged_IPL_Dataset.csv', index=False)

In [10]:
merged_df.shape

(193468, 34)

In [11]:
merged_df

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,...,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,...,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,...,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
2,335982,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,...,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
3,335982,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,...,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
4,335982,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,...,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193463,1237181,1,12,5,RR Pant,SS Iyer,NM Coulter-Nile,0,0,0,...,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon
193464,1237181,1,12,6,RR Pant,SS Iyer,NM Coulter-Nile,1,0,1,...,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon
193465,1237181,1,13,1,RR Pant,SS Iyer,KH Pandya,0,1,1,...,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon
193466,1237181,1,13,2,RR Pant,SS Iyer,KH Pandya,1,0,1,...,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon
193467,1237181,1,13,3,SS Iyer,RR Pant,KH Pandya,1,0,1,...,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon

In [12]:
column_names = merged_df.columns.tolist()

In [13]:
column_names

['id',
 'inning',
 'over',
 'ball',
 'batsman',
 'non_striker',
 'bowler',
 'batsman_runs',
 'extra_runs',
 'total_runs',
 'non_boundary',
 'is_wicket',
 'dismissal_kind',
 'player_dismissed',
 'fielder',
 'extras_type',
 'batting_team',
 'bowling_team',
 'city',
 'date',
 'player_of_match',
 'venue',
 'neutral_venue',
 'team1',
 'team2',
 'toss_winner',
 'toss_decision',
 'winner',
 'result',
 'result_margin',
 'eliminator',
 'method',
 'umpire1',
 'umpire2']

In [14]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193468 entries, 0 to 193467
Data columns (total 34 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                193468 non-null  int64
 1   inning            193468 non-null  int64
 2   over              193468 non-null  int64
 3   ball              193468 non-null  int64
 4   batsman           193468 non-null  object
 5   non_striker       193468 non-null  object
 6   bowler            193468 non-null  object
 7   batsman_runs      193468 non-null  int64
 8   extra_runs        193468 non-null  int64
 9   total_runs        193468 non-null  int64
 10  non_boundary      193468 non-null  int64
 11  is_wicket         193468 non-null  int64
 12  dismissal_kind    9495 non-null    object
 13  player_dismissed  9495 non-null    object
 14  fielder           6784 non-null    object
 15  extras_type       10233 non-null   object
 16  batting_team      193468 non-null  object
 17  bowling_team      193277 non-null  object
 18  city              190329 non-null  object
 19  date              193468 non-null  object
 20  player_of_match   193096 non-null  object
 21  venue             193468 non-null  object
 22  neutral_venue     193468 non-null  int64
 23  team1             193468 non-null  object
 24  team2             193468 non-null  object
 25  toss_winner       193468 non-null  object
 26  toss_decision     193468 non-null  object
 27  winner            193096 non-null  object
 28  result            193096 non-null  object
 29  result_margin     189871 non-null  float64
 30  eliminator        193096 non-null  object
 31  method            3208 non-null    object
 32  umpire1           193468 non-null  object
 33  umpire2           193468 non-null  object
dtypes: float64(1), int64(10), object(23)
memory usage: 50.2+ MB

In [15]:
# Extract the year from the date column and add it as a new column 'season'
merged_df['season'] = pd.to_datetime(merged_df['date'], errors='coerce').dt.year

In [17]:
# Group by 'season' and count the number of unique matches
matches_per_season = merged_df.groupby('season')['id'].nunique()

In [18]:
# count of number of matches played in each season
matches_per_season

season
2008    58
2009    57
2010    60
2011    73
2012    74
2013    76
2014    60
2015    59
2016    60
2017    59
2018    60
2019    60
2020    60
Name: id, dtype: int64

In [19]:
# How many runs were scored in each season?
runs_per_season = merged_df.groupby('season')['batsman_runs'].sum()

In [20]:
runs_per_season

season
2008    16809
2009    15344
2010    17735
2011    19928
2012    21323
2013    21427
2014    17922
2015    17409
2016    17962
2017    17907
2018    19098
2019    18573
2020    18508
Name: batsman_runs, dtype: int64

In [21]:
# What were the runs scored per match in different seasons?
runs_per_match = runs_per_season / matches_per_season

In [22]:
runs_per_match

season
2008    289.810345
2009    269.192982
2010    295.583333
2011    272.986301
2012    288.148649
2013    281.934211
2014    298.700000
2015    295.067797
2016    299.366667
2017    303.508475
2018    318.300000
2019    309.550000
2020    308.466667
dtype: float64

In [23]:
# Who has umpired the most?
umpire_counts = merged_df['umpire1'].value_counts() + merged_df['umpire2'].value_counts()

In [24]:
umpire_counts

A Deshmukh                2769.0
A Nand Kishore            5961.0
AK Chaudhary             20757.0
AL Hill                      NaN
AM Saheba                 6226.0
AV Jayaprakash            1278.0
AY Dandekar                  NaN
Aleem Dar                    NaN
Asad Rauf                    NaN
BF Bowden                    NaN
BG Jerling                4080.0
BNJ Oxenford             11334.0
BR Doctrove               9885.0
C Shamshuddin            19237.0
CB Gaffaney              11324.0
CK Nandan                13419.0
DJ Harper                 6320.0
GA Pratapkumar               NaN
GAV Baxter                   NaN
HDPK Dharmasena          22319.0
I Shivram                    NaN
IJ Gould                  1441.0
IL Howell                 3326.0
JD Cloete                 3713.0
K Bharatan                   NaN
K Hariharan               4948.0
K Srinath                 3606.0
K Srinivasan                 NaN
KN Ananthapadmanabhan        NaN
M Erasmus                15684.0
MR Benson                 2743.0
NJ Llong                  8653.0
Nitin Menon              13512.0
PG Pathak                 2472.0
PR Reiffel                5641.0
RB Tiffin                    NaN
RE Koertzen               9625.0
RJ Tucker                10738.0
RK Illingworth            7465.0
RM Deshpande                 NaN
S Asnani                  7204.0
S Das                     3674.0
S Ravi                   29155.0
SD Fry                    1471.0
SD Ranade                    NaN
SJ Davis                  1701.0
SJA Taufel               13231.0
SK Tarapore               7371.0
SL Shastri                3372.0
SS Hazare                 3891.0
Subroto Das                  NaN
TH Wijewardene               NaN
UV Gandhe                    NaN
VA Kulkarni              11959.0
VK Sharma                 6133.0
YC Barde                  4521.0
Name: count, dtype: float64

In [25]:
# umpire who has umpired the most in the above?
umpire_counts.idxmax()

'S Ravi'

In [26]:
# Which team has won the most tosses?
most_tosses = merged_df['toss_winner'].value_counts()

In [27]:
most_tosses

toss_winner
Mumbai Indians                 25404
Chennai Super Kings            23260
Kolkata Knight Riders          23166
Rajasthan Royals               20634
Royal Challengers Bangalore    20454
Kings XI Punjab                20309
Delhi Daredevils               18548
Sunrisers Hyderabad            13431
Deccan Chargers                10376
Delhi Capitals                  4881
Pune Warriors                   4798
Gujarat Lions                   3573
Kochi Tuskers Kerala            1760
Rising Pune Supergiants         1503
Rising Pune Supergiant          1371
Name: count, dtype: int64

In [29]:
# team which has won the toss most time in above
most_tosses.idxmax()

'Mumbai Indians'

In [30]:
# What does the team decide after winning the toss?
toss_decision_counts = merged_df['toss_decision'].value_counts()

In [31]:
toss_decision_counts

toss_decision
field    117127
bat       76341
Name: count, dtype: int64

In [32]:
# How does the toss decision vary across seasons
toss_decision_by_season = merged_df.groupby('season')['toss_decision'].value_counts()

In [33]:
toss_decision_by_season

season  toss_decision
2008    field             7516
        bat               5973
2009    bat               8420
        field             5175
2010    bat               9384
        field             5105
2011    field            11331
        bat               5682
2012    bat               8988
        field             8779
2013    bat              10796
        field             7356
2014    field             9726
        bat               4562
2015    field             7709
        bat               5932
2016    field            11565
        bat               2531
2017    field            11172
        bat               2677
2018    field            11831
        bat               2455
2019    field            11887
        bat               2406
2020    field             7975
        bat               6535
Name: count, dtype: int64

In [34]:
# Does winning the toss imply winning the game?
toss_win_game = merged_df.groupby('toss_winner')['winner'].value_counts()

In [35]:
toss_win_game

toss_winner          winner
Chennai Super Kings  Chennai Super Kings            14703
                     Mumbai Indians                  1710
                     Kings XI Punjab                 1251
                     Rajasthan Royals                1175
                     Royal Challengers Bangalore     1080
                                                    ...
Sunrisers Hyderabad  Mumbai Indians                   932
                     Rajasthan Royals                 723
                     Kings XI Punjab                  493
                     Rising Pune Supergiant           246
                     Delhi Capitals                   241
Name: count, Length: 127, dtype: int64

In [43]:
# How many times has the chasing team won the match?
chasing_team_wins = merged_df[(merged_df['toss_decision'] == 'field') & (merged_df['winner'] == merged_df['toss_winner'])]['id'].nunique()
print("Chasing team wins:", chasing_team_wins)

Chasing team wins: 273

In [44]:
# Which all teams had won this tournament?
tournament_winners = merged_df['winner'].unique()

In [45]:
tournament_winners

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Delhi Daredevils',
       'Royal Challengers Bangalore', 'Rajasthan Royals',
       'Kings XI Punjab', 'Deccan Chargers', 'Mumbai Indians',
       'Pune Warriors', 'Kochi Tuskers Kerala', nan,
       'Sunrisers Hyderabad', 'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Delhi Capitals'], dtype=object)

In [46]:
# Which team has played the most number of matches?
most_matches = merged_df['team1'].value_counts() + merged_df['team2'].value_counts()

In [47]:
most_matches

Chennai Super Kings            42679
Deccan Chargers                18073
Delhi Capitals                  8020
Delhi Daredevils               37499
Gujarat Lions                   7098
Kings XI Punjab                45079
Kochi Tuskers Kerala            3196
Kolkata Knight Riders          45137
Mumbai Indians                 48919
Pune Warriors                  10900
Rajasthan Royals               38054
Rising Pune Supergiant          3828
Rising Pune Supergiants         3195
Royal Challengers Bangalore    45730
Sunrisers Hyderabad            29529
Name: count, dtype: int64

In [49]:
# most matches played in the above list
most_matches.idxmax()

'Mumbai Indians'

In [50]:
#  Which team has won the most number of times?
most_wins = merged_df['winner'].value_counts()

In [51]:
most_wins

winner
Mumbai Indians                 28885
Chennai Super Kings            25531
Kolkata Knight Riders          23358
Royal Challengers Bangalore    21240
Kings XI Punjab                20904
Rajasthan Royals               19370
Delhi Daredevils               15709
Sunrisers Hyderabad            15667
Deccan Chargers                 7013
Delhi Capitals                  4663
Gujarat Lions                   3063
Pune Warriors                   2883
Rising Pune Supergiant          2383
Kochi Tuskers Kerala            1322
Rising Pune Supergiants         1105
Name: count, dtype: int64

In [53]:
# most wins in the above
most_wins.idxmax()

'Mumbai Indians'

In [54]:
# Which team has the highest winning percentage?
winning_percentage = (merged_df['winner'].value_counts() / merged_df['team1'].value_counts()) * 100

In [55]:
winning_percentage

Chennai Super Kings            112.273527
Deccan Chargers                 74.227350
Delhi Capitals                 100.734500
Delhi Daredevils                81.452867
Gujarat Lions                   81.225139
Kings XI Punjab                 95.867920
Kochi Tuskers Kerala            84.580934
Kolkata Knight Riders          104.659916
Mumbai Indians                 123.784015
Pune Warriors                   52.580704
Rajasthan Royals               116.134061
Rising Pune Supergiant         147.371676
Rising Pune Supergiants         65.891473
Royal Challengers Bangalore     84.158808
Sunrisers Hyderabad            112.882773
Name: count, dtype: float64

In [57]:
# highest winning percentage in the above
winning_percentage.idxmax()

'Rising Pune Supergiant'

In [58]:
# Is there any lucky venue for a particular team?
venue_counts = merged_df['venue'].value_counts()

In [59]:
venue_counts

venue
Eden Gardens                                            17988
Wankhede Stadium                                        17584
Feroz Shah Kotla                                        17294
Rajiv Gandhi International Stadium, Uppal               15200
M Chinnaswamy Stadium                                   14895
MA Chidambaram Stadium, Chepauk                         13881
Sawai Mansingh Stadium                                  11150
Punjab Cricket Association Stadium, Mohali               8266
Dubai International Cricket Stadium                      8038
Sheikh Zayed Stadium                                     6906
Maharashtra Cricket Association Stadium                  5055
Punjab Cricket Association IS Bindra Stadium, Mohali     5003
Sharjah Cricket Stadium                                  4317
Subrata Roy Sahara Stadium                               4064
Dr DY Patil Sports Academy                               3993
Kingsmead                                                3643
M.Chinnaswamy Stadium                                    3494
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium      3037
Sardar Patel Stadium, Motera                             2882
SuperSport Park                                          2866
Brabourne Stadium                                        2719
Saurashtra Cricket Association Stadium                   2368
Himachal Pradesh Cricket Association Stadium             2159
Holkar Cricket Stadium                                   1965
New Wanderers Stadium                                    1940
Barabati Stadium                                         1695
St George's Park                                         1677
JSCA International Stadium Complex                       1671
Newlands                                                 1528
Shaheed Veer Narayan Singh International Stadium         1431
Nehru Stadium                                            1155
Green Park                                                921
Vidarbha Cricket Association Stadium, Jamtha              742
De Beers Diamond Oval                                     726
Buffalo Park                                              715
OUTsurance Oval                                           500
Name: count, dtype: int64

In [60]:
# lucky venue for a team
lucky_venue_team = merged_df.groupby(['venue', 'winner']).size().unstack().idxmax(axis=1)
print("Lucky venue for teams:\n", lucky_venue_team)

Lucky venue for teams:
 venue
Barabati Stadium                                                    Deccan Chargers
Brabourne Stadium                                                    Mumbai Indians
Buffalo Park                                                         Mumbai Indians
De Beers Diamond Oval                                               Kings XI Punjab
Dr DY Patil Sports Academy                                           Mumbai Indians
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium             Sunrisers Hyderabad
Dubai International Cricket Stadium                             Sunrisers Hyderabad
Eden Gardens                                                  Kolkata Knight Riders
Feroz Shah Kotla                                                   Delhi Daredevils
Green Park                                                            Gujarat Lions
Himachal Pradesh Cricket Association Stadium                        Kings XI Punjab
Holkar Cricket Stadium                                              Kings XI Punjab
JSCA International Stadium Complex                              Chennai Super Kings
Kingsmead                                                          Delhi Daredevils
M Chinnaswamy Stadium                                   Royal Challengers Bangalore
M.Chinnaswamy Stadium                                   Royal Challengers Bangalore
MA Chidambaram Stadium, Chepauk                                 Chennai Super Kings
Maharashtra Cricket Association Stadium                         Chennai Super Kings
Nehru Stadium                                                  Kochi Tuskers Kerala
New Wanderers Stadium                                   Royal Challengers Bangalore
Newlands                                                            Deccan Chargers
OUTsurance Oval                                                    Delhi Daredevils
Punjab Cricket Association IS Bindra Stadium, Mohali                Kings XI Punjab
Punjab Cricket Association Stadium, Mohali                          Kings XI Punjab
Rajiv Gandhi International Stadium, Uppal                       Sunrisers Hyderabad
Sardar Patel Stadium, Motera                                       Rajasthan Royals
Saurashtra Cricket Association Stadium                                Gujarat Lions
Sawai Mansingh Stadium                                             Rajasthan Royals
Shaheed Veer Narayan Singh International Stadium                   Delhi Daredevils
Sharjah Cricket Stadium                                             Kings XI Punjab
Sheikh Zayed Stadium                                          Kolkata Knight Riders
St George's Park                                                     Mumbai Indians
Subrata Roy Sahara Stadium                                            Pune Warriors
SuperSport Park                                         Royal Challengers Bangalore
Vidarbha Cricket Association Stadium, Jamtha                        Deccan Chargers
Wankhede Stadium                                                     Mumbai Indians
dtype: object

In [61]:
# Innings wise comparison between teams
innings_comparison = merged_df.groupby(['season', 'inning', 'batting_team'])['batsman_runs'].sum()

In [62]:
innings_comparison

season  inning  batting_team
2008    1       Chennai Super Kings            1462
                Deccan Chargers                1192
                Delhi Daredevils                948
                Kings XI Punjab                1165
                Kolkata Knight Riders          1250
                                               ...
2020    2       Kolkata Knight Riders           582
                Mumbai Indians                 1037
                Rajasthan Royals               1521
                Royal Challengers Bangalore     627
                Sunrisers Hyderabad            1396
Name: batsman_runs, Length: 216, dtype: int64

In [82]:
# Which team has scored the most number of 200+ scores?
two_hundred_plus_scores = merged_df[merged_df['batsman_runs'] >=200]

In [83]:
two_hundred_plus_scores

Empty DataFrame
Columns: [id, inning, over, ball, batsman, non_striker, bowler, batsman_runs, extra_runs, total_runs, non_boundary, is_wicket, dismissal_kind, player_dismissed, fielder, extras_type, batting_team, bowling_team, city, date, player_of_match, venue, neutral_venue, team1, team2, toss_winner, toss_decision, winner, result, result_margin, eliminator, method, umpire1, umpire2, season, 200+]
Index: []

[0 rows x 36 columns]

In [85]:
# What was the highest run scored by a team in a single match?
highest_run_scored = merged_df.groupby('team1')['batsman_runs'].max() + merged_df.groupby('team2')['batsman_runs'].max()

In [86]:
highest_run_scored

team1
Chennai Super Kings            12
Deccan Chargers                12
Delhi Capitals                 12
Delhi Daredevils               12
Gujarat Lions                  12
Kings XI Punjab                12
Kochi Tuskers Kerala           12
Kolkata Knight Riders          12
Mumbai Indians                 12
Pune Warriors                  12
Rajasthan Royals               12
Rising Pune Supergiant         12
Rising Pune Supergiants        12
Royal Challengers Bangalore    12
Sunrisers Hyderabad            12
Name: batsman_runs, dtype: int64

In [87]:
# highest runs scored in the above list
highest_run_scored.idxmax()

'Chennai Super Kings'

In [89]:
# Which is the biggest win in terms of run margin?
biggest_run_margin = merged_df['result_margin'].max()
biggest_run_margin_match = merged_df[merged_df['result_margin'] == biggest_run_margin]
print("Biggest win in terms of run margin:\n", biggest_run_margin_match)

Biggest win in terms of run margin:
              id  inning  over  ball     batsman non_striker           bowler  \
146713  1082635       1    13     2  KA Pollard   RG Sharma         A Mishra
146714  1082635       1    13     6  KA Pollard   RG Sharma         A Mishra
146715  1082635       1    13     3  KA Pollard   RG Sharma         A Mishra
146716  1082635       1    13     4  KA Pollard   RG Sharma         A Mishra
146717  1082635       1    13     5   RG Sharma  KA Pollard         A Mishra
...         ...     ...   ...   ...         ...         ...              ...
146919  1082635       2     9     4    K Rabada    A Mishra        KV Sharma
146920  1082635       2     8     6    K Rabada    A Mishra  Harbhajan Singh
146921  1082635       2     9     1    A Mishra    K Rabada        KV Sharma
146922  1082635       2     8     4    A Mishra    K Rabada  Harbhajan Singh
146923  1082635       2     8     5    K Rabada    A Mishra  Harbhajan Singh

        batsman_runs  extra_runs  total_runs  ...  toss_decision  \
146713             0           0           0  ...          field
146714             1           0           1  ...          field
146715             6           0           6  ...          field
146716             1           0           1  ...          field
146717             3           0           3  ...          field
...              ...         ...         ...  ...            ...
146919             0           0           0  ...          field
146920             0           0           0  ...          field
146921             0           0           0  ...          field
146922             1           0           1  ...          field
146923             0           0           0  ...          field

                winner result result_margin eliminator method      umpire1  \
146713  Mumbai Indians   runs         146.0          N    NaN  Nitin Menon
146714  Mumbai Indians   runs         146.0          N    NaN  Nitin Menon
146715  Mumbai Indians   runs         146.0          N    NaN  Nitin Menon
146716  Mumbai Indians   runs         146.0          N    NaN  Nitin Menon
146717  Mumbai Indians   runs         146.0          N    NaN  Nitin Menon
...                ...    ...           ...        ...    ...          ...
146919  Mumbai Indians   runs         146.0          N    NaN  Nitin Menon
146920  Mumbai Indians   runs         146.0          N    NaN  Nitin Menon
146921  Mumbai Indians   runs         146.0          N    NaN  Nitin Menon
146922  Mumbai Indians   runs         146.0          N    NaN  Nitin Menon
146923  Mumbai Indians   runs         146.0          N    NaN  Nitin Menon

          umpire2 season 200+
146713  CK Nandan   2017    0
146714  CK Nandan   2017    0
146715  CK Nandan   2017    0
146716  CK Nandan   2017    0
146717  CK Nandan   2017    0
...           ...    ...  ...
146919  CK Nandan   2017    0
146920  CK Nandan   2017    0
146921  CK Nandan   2017    0
146922  CK Nandan   2017    0
146923  CK Nandan   2017    0

[211 rows x 36 columns]

In [90]:
# Which batsmen have played the most number of balls?
batsman_balls = merged_df['batsman'].value_counts()

In [91]:
batsman_balls

batsman
V Kohli           4609
S Dhawan          4208
RG Sharma         4088
SK Raina          4041
DA Warner         3819
                  ...
DP Vijaykumar        1
V Pratap Singh       1
Sunny Gupta          1
JL Denly             1
U Kaul               1
Name: count, Length: 537, dtype: int64

In [92]:
# batsman most number of balls in the above
batsman_balls.idxmax()

'V Kohli'

In [96]:
# Who are the leading run-scorers of all time?
leading_scorers = merged_df.groupby('batsman')['batsman_runs'].sum()

In [97]:
leading_scorers

batsman
A Ashish Reddy     280
A Chandila           4
A Chopra            53
A Choudhary         25
A Dananjaya          4
                  ...
YV Takawale        192
Yashpal Singh       47
Younis Khan          3
Yuvraj Singh      2750
Z Khan             117
Name: batsman_runs, Length: 537, dtype: int64

In [98]:
# Who has hit the most number of 4's?
most_4s = merged_df[merged_df['batsman_runs'] == 4]['batsman'].value_counts()

In [99]:
most_4s

batsman
S Dhawan        591
DA Warner       510
V Kohli         504
SK Raina        493
G Gambhir       492
               ...
A Choudhary       1
DM Bravo          1
Basil Thampi      1
DE Bollinger      1
Ravi Bishnoi      1
Name: count, Length: 424, dtype: int64

In [100]:
# Who has hit the most number of 6's?
most_6s = merged_df[merged_df['batsman_runs'] == 6]['batsman'].value_counts()

In [101]:
most_6s

batsman
CH Gayle          349
AB de Villiers    235
MS Dhoni          216
RG Sharma         214
V Kohli           202
                 ...
CK Langeveldt       1
A Mithun            1
WD Parnell          1
BJ Haddin           1
AT Carey            1
Name: count, Length: 351, dtype: int64

In [102]:
#  Who has the highest strike rate?
strike_rate = (merged_df.groupby('batsman')['batsman_runs'].sum() / merged_df.groupby('batsman')['ball'].count()) * 100

In [103]:
strike_rate

batsman
A Ashish Reddy    142.857143
A Chandila         57.142857
A Chopra           70.666667
A Choudhary       125.000000
A Dananjaya        80.000000
                     ...
YV Takawale       104.918033
Yashpal Singh      70.149254
Younis Khan        42.857143
Yuvraj Singh      124.716553
Z Khan             82.978723
Length: 537, dtype: float64

In [104]:
# Who is the leading wicket-taker?
leading_wicket_taker = merged_df.groupby('bowler')['player_dismissed'].count()

In [105]:
leading_wicket_taker

bowler
A Ashish Reddy     19
A Chandila         11
A Choudhary         5
A Dananjaya         0
A Flintoff          2
                 ...
YA Abdulla         15
YK Pathan          46
YS Chahal         124
Yuvraj Singh       39
Z Khan            119
Name: player_dismissed, Length: 420, dtype: int64

In [110]:
# Which stadium has hosted the most number of matches?
stadium_counts = merged_df['venue'].value_counts()

In [111]:
stadium_counts

venue
Eden Gardens                                            17988
Wankhede Stadium                                        17584
Feroz Shah Kotla                                        17294
Rajiv Gandhi International Stadium, Uppal               15200
M Chinnaswamy Stadium                                   14895
MA Chidambaram Stadium, Chepauk                         13881
Sawai Mansingh Stadium                                  11150
Punjab Cricket Association Stadium, Mohali               8266
Dubai International Cricket Stadium                      8038
Sheikh Zayed Stadium                                     6906
Maharashtra Cricket Association Stadium                  5055
Punjab Cricket Association IS Bindra Stadium, Mohali     5003
Sharjah Cricket Stadium                                  4317
Subrata Roy Sahara Stadium                               4064
Dr DY Patil Sports Academy                               3993
Kingsmead                                                3643
M.Chinnaswamy Stadium                                    3494
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium      3037
Sardar Patel Stadium, Motera                             2882
SuperSport Park                                          2866
Brabourne Stadium                                        2719
Saurashtra Cricket Association Stadium                   2368
Himachal Pradesh Cricket Association Stadium             2159
Holkar Cricket Stadium                                   1965
New Wanderers Stadium                                    1940
Barabati Stadium                                         1695
St George's Park                                         1677
JSCA International Stadium Complex                       1671
Newlands                                                 1528
Shaheed Veer Narayan Singh International Stadium         1431
Nehru Stadium                                            1155
Green Park                                                921
Vidarbha Cricket Association Stadium, Jamtha              742
De Beers Diamond Oval                                     726
Buffalo Park                                              715
OUTsurance Oval                                           500
Name: count, dtype: int64

In [112]:
# stadium for the most number of matches
stadium_counts.idxmax()

'Eden Gardens'

In [113]:
# Who has won the most MOM awards?
mom_awards = merged_df['player_of_match'].value_counts()

In [114]:
mom_awards

player_of_match
AB de Villiers    5663
CH Gayle          5186
RG Sharma         4412
MS Dhoni          4130
DA Warner         4076
                  ...
SB Wagh            207
BA Bhatt           204
DJG Sammy          203
RP Singh           199
DL Vettori         108
Name: count, Length: 233, dtype: int64

In [115]:
# most mom awards
mom_awards.idxmax()

'AB de Villiers'

In [116]:
# What is the count of fours hit in each season?
fours_per_season = merged_df[merged_df['batsman_runs'] == 4].groupby('season')['batsman_runs'].count()

In [117]:
fours_per_season

season
2008    1703
2009    1317
2010    1708
2011    1916
2012    1911
2013    2052
2014    1562
2015    1607
2016    1633
2017    1611
2018    1652
2019    1653
2020    1583
Name: batsman_runs, dtype: int64

In [118]:
# What is the count of sixes hit in each season?
sixes_per_season = merged_df[merged_df['batsman_runs'] == 6].groupby('season')['batsman_runs'].count()

In [119]:
sixes_per_season

season
2008    623
2009    506
2010    585
2011    639
2012    733
2013    675
2014    714
2015    692
2016    639
2017    705
2018    872
2019    784
2020    735
Name: batsman_runs, dtype: int64

In [120]:
# What is the count of runs scored from boundaries in each season?
boundaries_per_season = merged_df.groupby('season')['batsman_runs'].sum()

In [121]:
boundaries_per_season

season
2008    16809
2009    15344
2010    17735
2011    19928
2012    21323
2013    21427
2014    17922
2015    17409
2016    17962
2017    17907
2018    19098
2019    18573
2020    18508
Name: batsman_runs, dtype: int64

In [122]:
# What is the run contribution from boundaries in each season?
run_contribution_boundaries = merged_df.groupby('season')['batsman_runs'].sum()

In [123]:
run_contribution_boundaries

season
2008    16809
2009    15344
2010    17735
2011    19928
2012    21323
2013    21427
2014    17922
2015    17409
2016    17962
2017    17907
2018    19098
2019    18573
2020    18508
Name: batsman_runs, dtype: int64

In [124]:
# Which team has scored the most runs in the first 6 overs?
first_six_overs = merged_df[merged_df['over'] <= 6]

In [125]:
first_six_overs

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,...,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2,season,200+
0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,...,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen,2008,0
1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,...,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen,2008,0
79,335982,1,0,1,SC Ganguly,BB McCullum,P Kumar,0,1,1,...,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen,2008,0
80,335982,1,0,2,BB McCullum,SC Ganguly,P Kumar,0,0,0,...,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen,2008,0
81,335982,1,0,3,BB McCullum,SC Ganguly,P Kumar,0,1,1,...,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen,2008,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193423,1237181,1,6,2,RR Pant,SS Iyer,J Yadav,2,0,2,...,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon,2020,0
193424,1237181,1,6,3,RR Pant,SS Iyer,J Yadav,2,0,2,...,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon,2020,0
193425,1237181,1,6,4,RR Pant,SS Iyer,J Yadav,0,0,0,...,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon,2020,0
193426,1237181,1,6,5,RR Pant,SS Iyer,J Yadav,1,0,1,...,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon,2020,0
193427,1237181,1,6,6,SS Iyer,RR Pant,J Yadav,0,0,0,...,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon,2020,0

In [126]:
# Which team has scored the most runs in the last 4 overs?
last_four_overs = merged_df[merged_df['over'] > 12]

In [127]:
last_four_overs

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,...,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2,season,200+
39,335982,1,13,1,BB McCullum,DJ Hussey,SB Joshi,1,0,1,...,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen,2008,0
40,335982,1,13,2,DJ Hussey,BB McCullum,SB Joshi,0,0,0,...,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen,2008,0
41,335982,1,13,3,DJ Hussey,BB McCullum,SB Joshi,1,0,1,...,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen,2008,0
42,335982,1,13,4,BB McCullum,DJ Hussey,SB Joshi,1,0,1,...,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen,2008,0
43,335982,1,13,5,DJ Hussey,BB McCullum,SB Joshi,1,0,1,...,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen,2008,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193384,1237181,1,19,5,SS Iyer,K Rabada,NM Coulter-Nile,6,0,6,...,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon,2020,0
193385,1237181,1,19,6,SS Iyer,K Rabada,NM Coulter-Nile,1,0,1,...,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon,2020,0
193465,1237181,1,13,1,RR Pant,SS Iyer,KH Pandya,0,1,1,...,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon,2020,0
193466,1237181,1,13,2,RR Pant,SS Iyer,KH Pandya,1,0,1,...,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon,2020,0
193467,1237181,1,13,3,SS Iyer,RR Pant,KH Pandya,1,0,1,...,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon,2020,0